.app {
  height: 100vh;
}

.title {
  font-size: 54px;
  font-weight: 700;
}

.subtitle {
  font-size: 27px;
  font-weight: 500;
}
.subtitle-small {
  font-size: 21px;
  font-weight: 400;
}
.subtitle-small {
  font-size: 18px;
  font-weight: 400;
}

.sidenav {
  height: 100%; 
  width: 20%; 
  position: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #0f0f0f; 
  overflow-x: hidden; 
  text-align: center;
}

.sidenav a {
  padding: 8px 16px 8px 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  color: #c5a880;
  display: block;
}

.sidenav a:hover {
  color: #e6e6e6;
}

.sidenav a.active {
  color: #e6e6e6;
}

.main {
  margin-left: 20%;
  background-color: #c5a880;
}
.container {
  padding: 50px;
}

.footer {
  margin-left: 20%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: left;
  padding: 0px 50px 50px 50px;
}

